<a href="https://colab.research.google.com/github/LuizHenriqueCamposs/Cienciadedados/blob/main/EDA_CARS_FEATURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importar Bibliotecas para Este Projeto 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes= True)

In [5]:
# Carregar Dataset para o este Frame

In [6]:
df = pd.read_csv('/content/data.csv')

In [9]:
df.head(5)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [11]:
# Checar o Tipo de Dado se são string, objetos e converter para interger.
df.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [12]:
# Identificar e Remover Colunas Irrelevantes para o projeto  ( Função drop)

In [ ]:
# axis=0 representa linhas e axis 1 representa colunas
df = df.drop(['Engine Fuel Type','Market Category','Vehicle Style','Popularity','Number of Doors','Vehicle Size'], axis=1)

In [19]:
df.head(5)

  Make       Model  Year  ...  highway MPG  city mpg   MSRP
0  BMW  1 Series M  2011  ...           26        19  46135
1  BMW    1 Series  2011  ...           28        19  40650
2  BMW    1 Series  2011  ...           28        20  36350
3  BMW    1 Series  2011  ...           28        18  29450
4  BMW    1 Series  2011  ...           28        18  34500

[5 rows x 10 columns]

In [20]:
# Renomear Colunas
df = df.rename(columns={'Engine HP': 'HP','Engine Cylinders': 'Cylinders','Transmission Type': 'Transmission','Driven_Wheels': 'Drive Mode', 'highway MPG': 'MPG-H', 'city mpg': 'MPG-C', 'MSRP':'Price'})

In [21]:
df.head(5)

  Make       Model  Year     HP  ...        Drive Mode MPG-H MPG-C  Price
0  BMW  1 Series M  2011  335.0  ...  rear wheel drive    26    19  46135
1  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    19  40650
2  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    20  36350
3  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  29450
4  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  34500

[5 rows x 10 columns]

In [22]:
# Total de Linhas e Colunas
df.shape

(11914, 10)

11914 Linhas Total do dataset e 10 colunas

In [24]:
# Linhas Duplicadas - Remover
duplicate_rows_df = df[df.duplicated()]
print('Number of duplicate rows:', duplicate_rows_df.shape)

Number of duplicate rows: (989, 10)

989 Linhas duplicadas Encontradas

In [26]:
# Contar numero de linhas do arquivo 
df.count()

Make            11914
Model           11914
Year            11914
HP              11845
Cylinders       11884
Transmission    11914
Drive Mode      11914
MPG-H           11914
MPG-C           11914
Price           11914
dtype: int64

In [28]:
# Remover as 989 duplicadas
df = df.drop_duplicates()
df.head(5)

  Make       Model  Year     HP  ...        Drive Mode MPG-H MPG-C  Price
0  BMW  1 Series M  2011  335.0  ...  rear wheel drive    26    19  46135
1  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    19  40650
2  BMW    1 Series  2011  300.0  ...  rear wheel drive    28    20  36350
3  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  29450
4  BMW    1 Series  2011  230.0  ...  rear wheel drive    28    18  34500

[5 rows x 10 columns]

In [30]:
# Vizualizar dataset depois da remoção
df.count()

Make            10925
Model           10925
Year            10925
HP              10856
Cylinders       10895
Transmission    10925
Drive Mode      10925
MPG-H           10925
MPG-C           10925
Price           10925
dtype: int64

# remover Valores nulos e faltantes
Nesta Etapa geralmente, avaliar a situação é a melhoe escolha para saber se irá remover as colunas ou inserir a média, mediana dos Valores.
No caso iremos remover 100 valores faltantes 0

In [33]:
print(df.isnull().sum())

Make             0
Model            0
Year             0
HP              69
Cylinders       30
Transmission     0
Drive Mode       0
MPG-H            0
MPG-C            0
Price            0
dtype: int64

In [34]:
# Removendo os valores faltantes
df = df.dropna()
df.count()

Make            10827
Model           10827
Year            10827
HP              10827
Cylinders       10827
Transmission    10827
Drive Mode      10827
MPG-H           10827
MPG-C           10827
Price           10827
dtype: int64

In [35]:
print(df.isnull().sum())

Make            0
Model           0
Year            0
HP              0
Cylinders       0
Transmission    0
Drive Mode      0
MPG-H           0
MPG-C           0
Price           0
dtype: int64

Dectantanto Outliers